.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}
.navigation {
    text-align: right;
    display: flex;
}
.nav-font {
    text-decoration: none;
    color: black ;
    font-family: "Comic Sans MS";
    margin-left: 23px;
}
.purchasing-title {
    background-color: #abf5ff;
    padding: 150px;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
}
.purchasing-title p {
    font-size: 20px;
    font-family: "Courier New";
    font-weight: bold;
}
nav {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form {
    text-align: center;
}
.service-buttons {
    text-align: center;
}
.buy {
    position: relative;
    background-image: url('../images/Merchendise.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 140px 160px;
    z-index: 1;
    transition: transform 0.8s ease;
    overflow: hidden;

}
.buy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: inherit;
}
.buy:hover {
    transform: scale(150%);
}