.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    text-align: right;
    display: flex;
}
.nav-font {
    text-decoration: none;
    color: black ;
    font-family: "Comic Sans MS";
    margin-left: 23px;
}
nav {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}