.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}
.navigation {
    text-align: right;
    display: flex;
}
.nav-font {
    text-decoration: none;
    color: black ;
    font-family: "Comic Sans MS";
    margin-left: 23px;
}
.purchasing-title {
    background-color: #abf5ff;
    padding: 150px;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
}
.purchasing-title p {
    font-size: 20px;
    font-family: "Courier New";
    font-weight: bold;
}
nav {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #3498db;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    animation: fadeIn 1s ease-in-out;
    font-family: 'Arial', sans-serif;
    color: #333;
}

h1, h2, h3 {
    color: #2c3e50;
}

a {
    color: #2980b9;
}

h1, h2{
    margin-bottom: 20px;
}

p{
    line-height: 1.6;
    margin-bottom: 15px;
}

button:hover {
    background-color: #2980b9;
}

.quote {
    font-style: italic;
    font-size: 1.5rem;
    color: #7f8c8d;
    border-left: 4px solid #3498db;
    padding-left: 15px;
    transition: transform 0.5s ease;
}

.quote:hover {
    transform: scale(1.00);
}

.map {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

