nav {
    background-color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.navigation {
    background-color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.nav-font {
    color: black;
    text-decoration: none;
    font-family: "Calibri Light";
    margin-left: 23px;
}
.main-text-container {
    padding: 40px 30px;
    background: #edf4fd;
}
.main-text-container h1 {
    color: black;
    margin-left: 70px;
    font-family: Calibri Light;
    font-size: 25px;
}
.question-container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.question-container details {
    margin-top: 30px;
    margin-right: 100px;
    background-color: #f5f3eb;
    padding: 20px
}
.question-container summary{
    font-family: "Calibri Light";
    font-size: 30px;
}
.question-container p {
    margin-left: 30px;
    margin-right: 100px;
    font-family: "Calibri Light";
    font-size: 20px;
}
hr {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height: 5px;
    background-color: #edf4fd;
    border: none;
}
.footer {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.footer h2 {
    font-family: "Calibri Light";
}
.footer p {
    font-family: "Calibri Light";
    font-size: 20px;
}
.fa-square-envelope {
    font-size: 40px;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.fa-square-envelope:hover {
    color: white;
    background-color: black;
}
.fa-square-instagram{
    font-size: 40px;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.fa-square-instagram:hover {
    color: white;
    background-color: black;
    outline-color: black;
}
.fa-square-x-twitter{
    font-size: 40px;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.fa-square-x-twitter:hover {
    color: white;
    background-color: black;
    outline-color: black;
}
.fa-square-youtube{
    font-size: 40px;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.fa-square-youtube:hover {
    color: white;
    background-color: black;
    outline-color: black;
}
.footer-text-container {
    display : flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer-text-container p {
    font-family: "Calibri Light";
    font-size: 20px;
}
.footer-text-container a {
    font-family: "Calibri Light";
    font-size: 20px;
    text-decoration: none;
    color: black;
}