* {
    font-family: 'Calibri Light', sans-serif;
    font-size: 1.2rem;
}

body {
    animation: fadeIn 1s ease-in-out;
    color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: "Calibri Light";
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    flex-grow: 1;
}

h1, h2 {
    color: #000;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    padding-right: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.option {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.logo {
    height: 80px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-container {
    margin-top: 20px;
}

.room-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.room-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.room-option input {
    display: none;
}

.room-option.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
hr {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height: 5px;
    background-color: #edf4fd;
    border: none;
}
.footer {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.footer h2 {
    font-family: "Calibri Light";
}
.footer p {
    font-family: "Calibri Light";
    font-size: 20px;
}
.fa-square-envelope {
    font-size: 40px;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.fa-square-envelope:hover {
    color: white;
    background-color: black;
}
.fa-square-instagram{
    font-size: 40px;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.fa-square-instagram:hover {
    color: white;
    background-color: black;
    outline-color: black;
}
.fa-square-x-twitter{
    font-size: 40px;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.fa-square-x-twitter:hover {
    color: white;
    background-color: black;
    outline-color: black;
}
.fa-square-youtube{
    font-size: 40px;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.fa-square-youtube:hover {
    color: white;
    background-color: black;
    outline-color: black;
}
.footer-text-container {
    display : flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer-text-container p {
    font-family: "Calibri Light";
    font-size: 20px;
}
.footer-text-container a {
    font-family: "Calibri Light";
    font-size: 20px;
    text-decoration: none;
    color: black;
}
