body {
    animation: fadeIn 1s ease-in-out;
    font-family: 'Calibri Light', sans-serif;
    color: #333;
    width: 100%;
}

h1, h2, h3 {
    color: #2c3e50;
    margin-bottom: 20px;
}


p {
    line-height: 1.6;
    margin-bottom: 15px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color: #3498db;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    background-color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.navigation {
    text-align: right;
    display: flex;
}

.nav-font {
    color: black;
    font-family: "Comic Sans MS";
    margin-left: 23px;
}

.purchasing-title {
    background-color: #abf5ff;
    padding: 150px;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
}

.purchasing-title p {
    font-size: 20px;
    font-family: "Courier New";
    font-weight: bold;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.stat h2 {
    font-size: 48px;
}

.stat p {
    font-size: 18px;
}

button:hover {
    background-color: #2980b9;
}

.quote {
    font-style: italic;
    font-size: 1.5rem;
    color: #7f8c8d;
    border-left: 4px solid #3498db;
    padding-left: 15px;
    transition: transform 0.5s ease;
}

.quote:hover {
    transform: scale(1.00);
}

.map {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.benefits-section {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
}

.benefits-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.benefits-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.benefit {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.benefit img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.benefit h3 {
    font-size: 1.5rem;
    color: #2e86de;
    margin-bottom: 10px;
}

.benefit p {
    font-size: 1rem;
    color: #666;
}

.section {
    position: relative;
    height: 100vh;
}

.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    opacity: 0.7;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: black;
    padding: 20px;
    margin: 20px 0;
}

.content p {
    margin-bottom: 20px;
    margin-right: 50px;
}

.content h2 {
    margin-bottom: 30px;
    margin-right: 50px;
}

.home-container {
    background-image: url("../images/home-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.home-caption {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/company-in-numbers.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 40px;
}

.stats {
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin-top: 50px;
    margin-right: 50px;
    padding-left: 50px;
}

.Services{
    text-align: center;
}

.service-buttons {
    text-align: center;
}
.buy {
    position: relative;
    background-image: url('../images/Merchendise.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 140px 160px;
    z-index: 1;
    transition: transform 0.3s ease, background-size 0.3s ease;
    overflow: hidden;

}
.buy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: inherit;
}
.buy:hover {
    transform: scale(100%);
}

.sell{
    position: relative;
    background-image: url('../images/purchase.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 140px 160px;
    z-index: 1;
    transition: transform 0.3s ease, background-size 0.3s ease;
    overflow: hidden;

}
.sell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: inherit;
}
.sell:hover {
    transform: scale(100%);
}

.lease{
    position: relative;
    background-image: url('../images/lease.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 140px 160px;
    z-index: 1;
    transition: transform 0.3s ease, background-size 0.3s ease;
    overflow: hidden;
}
.lease::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: inherit;
}
.lease:hover {
    transform: scale(100%);
}


.contact-details{
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
li {
    margin-bottom: 10px;
}
h3 {
    text-align: center;
}


.map-title{
    text-align: center;
}
.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
}